@{
    ViewBag.Titulo = "Créditos";
}
<div class="container">
    <h1>Créditos</h1>
    <img src="~/img/Creditos.jpeg" alt="Foto de los tres">
    <ul class="expandido">
        <li><a href = "https://github.com/tomaskorn22">Tomás "Korgol" Korngold</li>
        <li><a href="https://github.com/DavidChinski">David Chinski</a></li>
        <li><a href="https://github.com/tjor75">Lucas Tjor</a></li>
    </ul>
</div>