@{
    ViewBag.Titulo = "Deportes";
}
<div class="container">
    <h1>Deportes</h1>
    @if (ViewBag.Deportes.Count != 0)
    {
    <ul class="listaImagenes">
        @foreach (Deporte deporte in ViewBag.Deportes)
        {
        <li><a href="@Url.Action("VerDetalleDeporte", new { idDeporte = deporte.IdDeporte })">
            <img src="@deporte.Foto" alt="Foto de @deporte.Nombre">
            <p>@deporte.Nombre</p>
        </a></li>
        }
    </ul>
    }
    else
    {
    <p class="text-secondary text-center">No hay deportes.</p>
    }
</div>