@{
    ViewBag.Titulo = "Home Page";
}

<div>
    <div id="carouselHome" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- Empieza slide 1 -->
            <div class="carousel-item active">
                <img src="~/img/first_slide_carusel.jpg" alt="Mejores momentos | París 2024">
                <div class="carousel-caption">
                    <h2>Mejores momentos | París 2024</h2>
                    <p><a class="infoBtn" href="https://olympics.com/en/paris-2024/videos/paris-2024-best-moments">Mirar</a></p>
                </div>
            </div>
            <!-- Termina slide 1 -->
            <!-- Empieza slide 2 -->
            <div class="carousel-item">
                <img src="~/img/Second_slide_carusel.jpg" alt="Reviví París 2024: acceso ilimitado a clips y repeticiones">
                <div class="carousel-caption">
                    <h2>Reviví París 2024: acceso ilimitado a clips y repeticiones</h2>
                    <p><a class="infoBtn" href="https://olympics.com/en/paris-2024/videos/paris-2024-best-moments">Mirar</a></p>
                </div>
            </div>
            <!-- Termina slide 2 -->
            <!-- Empieza slide 3 -->
            <div class="carousel-item">
                <img src="~/img/third_slide_carusel.jfif" alt="Mirá los jugadores pais por país">
                <div class="carousel-caption">
                    <h2>Mirá los deportistas pais por país</h2>
                    <p><a class="infoBtn" href="@Url.Action("Paises")">Ver paises</a></p>
                </div>
            </div>
            <!-- Termina slide 3 -->
        </div>
        <!-- Empieza movement -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- Termina movement -->
    </div>
</div>