@{
    ViewBag.Titulo = "PoliticaPrivacidad";
}
<div class="container">
<h1>Politica de Privacidad</h1>
<p>La presente Política de privacidad, en su forma actualizada en cada momento, detalla cómo el Comité Olímpico Internacional (COI) trata los datos personales en el contexto de sus actividades digitales. Por ejemplo, páginas web, aplicaciones móviles, aplicaciones de televisión, sistemas de registro, marketing digital, servicios profesionales en línea y recursos empresariales, así como servicios de participación e información que son administrados por el COI solo o en cooperación con otros miembros del Movimiento Olímpico. En la presente Política de privacidad, nos referimos a estas actividades como los «Servicios».</p>

<p>También detalla cómo el COI procesa los datos personales que recibe de otras organizaciones, o a través de cookies y tecnologías similares que se integran en las propiedades digitales de otra organización en beneficio del COI.</p>

<p>Otras organizaciones pueden lanzar y operar páginas web, boletines de noticias, plataformas de comercio electrónico u otros servicios que estén (a) relacionados con los Juegos Olímpicos, los Juegos Olímpicos de la Juventud o las actividades del Movimiento Olímpico, o (b) que presenten contenido relacionado con los Juegos Olímpicos. Tales páginas web y servicios funcionan con independencia del COI, y no están cubiertos por esta Política de privacidad. Por lo tanto, le recomendamos que lea las condiciones de uso y las políticas de privacidad que se aplican a estas páginas web y servicios. En el caso de que recopilemos datos personales a través de estos servicios, se mencionará en sus políticas de privacidad y condiciones del servicio.</p>
<div >
<h4><b>Quienes Somos</h4></b>
<p>Cuando nos referimos a«nosotros», «nuestro»o «nos» en esta Política de privacidad, nos estamos refiriendo al COI. También nos referimos a la Fundación Olímpica para la Cultura y el Patrimonio (la«Fundación») y los Comités Organizadores de los Juegos Olímpicos y Paralímpicos (los «OCOG») donde el COI procesa los datos junto con ellos. En los anexos 2 y 3, actualizados periódicamente, se dan más detalles sobre los casos en que es así.</p>
<p>El COI es una organización internacional privada sin ánimo de lucro, reconocida como de interés público por las autoridades suizas y constituida en forma de asociación legal suiza, con domicilio social en Maison Olympique (Casa Olímpica) 1007 Lausana (Suiza). La misión del COI es promover el Olimpismo en todo el mundo, dirigir el Movimiento Olímpico y garantizar la celebración regular de los Juegos Olímpicos. Para obtener más información sobre el COI, sus objetivos y actividades, consulte la Carta Olímpica y los Principios del COI.</p>
<p>Los OCOG son responsables de organizar una edición de los Juegos Olímpicos y Paralímpicos. Cada OCOG se encuentra en el territorio donde sus respectivos Juegos Olímpicos y Paralímpicos se van a celebrar.</p>
</div>
</div>
