body {
  font-family: "Source Sans Pro Paris2024", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
}

h1, h2, h3 {
  font-family: "Paris 2024", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
img { width: 100%; }
.centrado {
  text-align: center;
}
.expandido {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}
.expandido li {
  width: 33.33%;
  text-align: center;
}



.navbar {
  position: absolute;
  top: 0;
  font-size: 22px;
  width: 100%;
  padding: 0;
  z-index: 1;
}
.sticky .navbar {
  position: fixed;
  background: url("https://olympics.com/_pr/topic-assets/paris-2024/sticky-header/green/d03.svg");
}
.navbar-brand, .navbar-toggler-icon {
  padding: 0;
  margin: 10px 1.5rem;
}
.navbar-brand img {
  width: auto;
  height: 40px;
}
.text-dark, a, a:hover { color: #100F0D; }
.bg-dark { background: #100F0D; }
.border-top { border-top: 1px solid #E5E5E5; }
.border-bottom { border-bottom: 1px solid #E5E5E5; }


main .container:first-child {
  margin-top: 60px;
}
.carousel-indicators, .carousel-caption {
  right: auto;
}
.carousel-caption {
  text-align: initial;
}
/*.carousel-control-prev, .carousel-control-next {
  display: none;
}*/
.alert, .form-control, .form-select, .btn, .navbar-toggler {
  border-radius: 0;
}

/*#carouselHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}*/

.listaImagenes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.listaImagenes li {
  text-align: center;
  width: 32.33%;
  margin-left: 1%;
}
.listaImagenes a {
  text-decoration: none;
}
.listaImagenes img {
  width: 55%;
}


footer {
  line-height: 62px;
}


@media (max-width: 700px) {
  .listaImagenes li { width: 49%; }
}
@media (max-width: 500px) {
  .sticky .navbar {
    background: url("https://olympics.com/_pr/topic-assets/paris-2024/sticky-header/green/mobile/m03.svg");
  }
  .listaImagenes li {
    width: 100%;
    margin-left: 0;
  }
}