body {
  font-family: "Source Sans Pro Paris2024", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 45px;
  font-weight: 900;
}
h1, h2, h3 {
  font-family: "Paris 2024", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
img { width: 100%; }
.centrado {
  text-align: center;
}
.expandido {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}
.expandido li {
  width: 33.33%;
  text-align: center;
}



.navbar {
  position: absolute;
  top: 0;
  font-size: 22px;
  width: 100%;
  padding: 0;
  z-index: 3;
}
.sticky .navbar {
  position: fixed;
  background-position: center;
  background-image: url("https://olympics.com/_pr/topic-assets/paris-2024/sticky-header/green/d03.svg");
  background-size: cover;
}
.navbar-brand, .navbar-toggler-icon {
  padding: 0;
  margin: 10px 1.5rem;
}
.navbar-brand img {
  width: auto;
  height: 40px;
}
.text-dark, a, a:hover { color: #100F0D; }
.bg-dark { background: #100F0D; }
.border-top { border-top: 1px solid #E5E5E5; }
.border-bottom { border-bottom: 1px solid #E5E5E5; }


main .container:first-child {
  margin-top: 60px;
}
#carouselHome {
  background: #100F0D;
}
#carouselHome img {
  height: 100vh;
  object-fit: cover;
  opacity: 55%;
}
#carouselHome .carousel-caption {
  text-align: initial;
}
#carouselHome p {
  margin: 45px 0;
}
#carouselHome a {
  font-family: "Paris 2024", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  background: #F3F3F3;
  border: solid 3px #100F0D;
  border-radius: 3px;
  padding: 15px 0 15px 15px;
  margin-top: 50px;
}
#carouselHome a:hover, #carouselHome a:hover::after {
  background: #2f2f2e;
  border-color: #2f2f2e;
  color: #F3F3F3;
}
#carouselHome a::after {
  background: #100F0D;
  color: #F3F3F3;
  content: "→";
  border-radius: 100% 0 0 100%;
  padding: 15px;
  margin-left: 15px;
}
.carousel-indicators, .carousel-caption {
  left: 3%;
  right: 3%;
}
.carousel-control-next, .carousel-control-prev {
  width: 5%;
}
.alert, .form-control, .form-select, .btn, .navbar-toggler {
  border-radius: 0;
}


.listaImagenes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.listaImagenes li {
  text-align: center;
  width: 32.33%;
  margin-left: 1%;
}
.listaImagenes a {
  text-decoration: none;
}
.listaImagenes img {
  width: 55%;
}


footer {
  line-height: 62px;
  background-color: #100F0D;
  padding: 20px 0;
  text-align: center;
}

footer .redes-sociales {
  margin-bottom: 20px;
}

footer .redes-sociales a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

footer p {
  margin: 10px 0;
  color: #ccc;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 700px) {
  #carouselHome a {
    padding: 10px 0 10px 10px;
    margin-top: 25px;
  }
  #carouselHome a::after {
    padding: 10px;
    margin-left: 10px;
  }
  .carousel-indicators, .carousel-caption {
    left: 3%;
    right: 3%;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 3%;
  }
  .listaImagenes li { width: 49%; }
}
@media (max-width: 500px) {
  .sticky .navbar {
    background-image: url("https://olympics.com/_pr/topic-assets/paris-2024/sticky-header/green/mobile/m03.svg");
  }
  .listaImagenes li {
    width: 100%;
    margin-left: 0;
  }
}