@import url("fonts.css");


html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Olympic Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}


h1 {
  font-size: 62px;
  text-shadow: #EBEBEB -15px -15px;
}
h1, h3 { font-family: "Olympic Headline Condensed", Helvetica, Arial, sans-serif; }
img { width: 100%; }
.centrado {
  text-align: center;
}
.expandido {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}
.expandido li {
  width: 33.33%;
  text-align: center;
}



.navbar {
  padding: 0;
}
.navbar-brand, .navbar-toggler-icon {
  padding: 0;
  margin: 10px 1.5rem;
}
.navbar-brand img {
  width: auto;
  height: 40px;
}


.alert, .form-control, .form-select, .btn, .navbar-toggler {
  border-radius: 0;
}


.text-dark, a, a:hover { color: #100F0D; }
.bg-dark { background: #100F0D; }
.border-top { border-top: 1px solid #E5E5E5; }
.border-bottom { border-bottom: 1px solid #E5E5E5; }


.listaImagenes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.listaImagenes li {
  text-align: center;
  width: 32.33%;
  margin-left: 1%;
}
.listaImagenes a {
  text-decoration: none;
}
.listaImagenes img {
  width: 55%;
}


footer {
  line-height: 62px;
}


@media (max-width: 700px) {
  .listaImagenes li { width: 49%; }
}
@media (max-width: 500px) {
  .listaImagenes li {
    width: 100%;
    margin-left: 0;
  }
}